/* import url for font family */
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Archivo:wght@600&family=Bakbak+One&family=Big+Shoulders+Display:wght@700&family=Dancing+Script&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,200;0,400;1,300;1,500&family=Josefin+Slab&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@700&family=Lexend+Deca:wght@400;700&family=Lobster&family=Lora:wght@700&family=Michroma&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Nanum+Gothic&family=Open+Sans&family=Outfit:wght@400;600;700&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;900&family=Roboto+Condensed:wght@700&family=Rowdies&family=Satisfy&family=Seymour+One&family=Signika+Negative:wght@300&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Archivo:wght@600&family=Bakbak+One&family=Big+Shoulders+Display:wght@700&family=Dancing+Script&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,200;0,400;1,300;1,500&family=Josefin+Slab&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;700&family=Lexend+Deca:wght@400;700&family=Lobster&family=Lora:wght@700&family=Michroma&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Nanum+Gothic&family=Open+Sans&family=Outfit:wght@400;600;700&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;900&family=Roboto+Condensed:wght@700&family=Rowdies&family=Satisfy&family=Seymour+One&family=Signika+Negative:wght@300&family=Space+Grotesk:wght@300&display=swap');
/* main css code */
*{
    box-sizing: border-box;
}
.wrap{
    padding:70px;
}
/* body of the content */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-image:url(bg-pattern-top-desktop.svg);
    background-repeat:no-repeat;
    background-size:800px;
}
html,body{
    overflow-x: hidden;
    max-width:100%;
    overflow-y: hidden;
}
h1{
    color:hsl(300, 43%, 22%);
    font-size:50px;
    font-family: 'League Spartan', sans-serif;
    width:400px;
    font-weight:700;
}
.logo-content{
    font-family: 'League Spartan', sans-serif;
    font-weight:400;
    color: hsl(300, 43%, 22%);
    width:400px;
    line-height:25px;
    font-size:17px;
}
.star-img{
  word-spacing:8px;
}
.star-roll-1,.star-roll-2,.star-roll-3{
    display: flex;
    gap:25px;
    font-family: 'League Spartan', sans-serif;
    font-weight:700;
    color: hsl(300, 43%, 22%);
    font-size:18px;
    background-color: hsl(300, 24%, 96%) ;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:20px;
    width:400px;
    border-radius:10px;
}
.container{
    margin-top:-200px;
}
.star-content-1,.star-content-2,.star-content-3{
    margin-top:-20px;
}
.star-roll-2{
    width:450px;
    margin-left:50px;
}
.star-roll-3{
    margin-left:120px;
}
.star-wrap{
    display: flex;
    gap:20px;
    flex-direction: column;
    margin-top:130px;
}
.flex{
    display: flex;
    gap:100px;
}
.user-1-img img,.user-2-img img,.user-3-img img{
  height:50px;
  width:50px;
  border-radius:50%;
}
.user-1-name,.user-2-name,.user-3-name{
    font-family: 'League Spartan', sans-serif;
    font-weight:700;
    font-size:17px;
    margin-top:-65px;
    margin-left:80px;
    color:white;
}
.user-1-work,.user-2-work,.user-3-work{
    margin-top:-10px;
    font-family: 'League Spartan', sans-serif;
    font-weight:400;
    margin-left:80px;
    color:hsl(333, 80%, 67%);
}
.user-1-content,.user-2-content,.user-3-content{
    font-family: 'League Spartan', sans-serif;
    font-weight:400;
    width:270px;
    line-height:23px;
    margin-top:40px;
    color:white;
}
.user-1-roll,.user-2-roll,.user-3-roll{
    background-color: hsl(300, 43%, 22%);
    padding:30px;
    width:350px;
    border-radius:10px;
    margin-left:60px;
}
.user-1-roll{
    height:240px;
}
.user-2-roll{
    margin-left:30px;
    margin-top:25px;
    height:240px;
}
.user-3-roll{
    margin-left:30px;
    margin-top:50px;
    height:240px;
}
.all-users{
    display:flex;
}
/* Media Queries for laptop */
@media (max-width:1200px) {
    h1{
        font-size:35px;
        width:250px;
    }
    .logo-content{
        font-size:13px;
        width:300px;
    }
    .star-content-1,.star-content-2,.star-content-3{
        margin-top:-15px;
        font-size:15px;
    }
    .star-img img{
        height:12px;
    }
    .star-roll-1,.star-roll-3{
        width:350px;
    }
    .star-roll-2{
        width:380px;
    }
     .star-wrap{
        margin-left:-80px;
     }
     .user-1-img img,.user-2-img img,.user-3-img img{
        height:35px;
        width:35px;
      }
      .user-1-name,.user-2-name,.user-3-name{
          margin-top:-55px;
          font-size:15px;
          margin-left:60px;
      }
      .user-1-work,.user-2-work,.user-3-work{
          margin-left:60px;
          font-size:15px;
      }
      .user-1-content,.user-2-content,.user-3-content{
          width:230px;
          font-size:13px;
          margin-top:25px;
      }
      .user-1-roll,.user-2-roll,.user-3-roll{
          width:280px;
          height:200px;
      }
      .user-2-roll,.user-3-roll{
        margin-left:15px;
      }
      .container{
        margin-top:-100px;
    }
}
/* Media Queries for laptop */
@media (max-width:950px) {
    h1{
        font-size:25px;
        width:200px;
    }
    .logo-content{
        font-size:11px;
        width:250px;
    }
    .star-content-1,.star-content-2,.star-content-3{
        margin-top:-10px;
        font-size:12px;
        margin-left:-10px;
    }
    .star-img img{
        height:10px;
    }
    .star-roll-1,.star-roll-3{
        width:300px;
    }
    .star-roll-2{
        width:320px;
    }
     .star-wrap{
        margin-left:-80px;
     }
     .user-1-img img,.user-2-img img,.user-3-img img{
        height:25px;
        width:25px;
      }
      .user-1-name,.user-2-name,.user-3-name{
          margin-top:-45px;
          font-size:12px;
          margin-left:45px;
      }
      .user-1-work,.user-2-work,.user-3-work{
          margin-left:45px;
          font-size:12px;
      }
      .user-1-content,.user-2-content,.user-3-content{
          width:190px;
          font-size:11px;
          margin-top:25px;
          line-height:20px;
      }
      .user-1-roll,.user-2-roll,.user-3-roll{
          width:250px;
          height:180px;
      }
      .container{
        margin-left:-60px;
      }
}
/* Media Queries for tablets */
@media (max-width:798px) {
    
    .flex{
        flex-direction: column;
    }
    html,body{
        overflow-y: scroll;
    }
    .star-wrap{
        margin-left:300px;
        margin-top:-130px;
     }
     .container{
        margin-top:100px;
     }
     .wrap{
        text-align: center;
        margin-left:200px;
     }
     h1{
        font-size:40px;
        width:300px;
        margin-left:20px;
     }
     .logo-content{
        font-size:20px;
        width:400px;
        margin-left:-30px;
     }
     .star-roll-2{
        width:300px;
        margin-left:1px;
    }
    .star-roll-3{
        margin-left:-1px;
    }
    .star-roll-1,.star-roll-2,.star-roll-3{
        flex-direction: column;
        width:370px;
        margin-left:-50px;
    }
    .star-img img{
        height:15px;
    }
    .star-img{
        margin-left:80px;
    }
    .star-content-1,.star-content-2,.star-content-3{
        margin-top:-20px;
        font-size:18px;
        margin-left:10px;
    }
    .star-content-2{
        margin-left:40px;
    }
    .star-content-1,.star-content-3{
        margin-left:60px;
    }
    .all-users{
        flex-direction: column;
        margin-left:250px;
    }
    .user-1-roll{
        margin-left:10px;
        margin-top:60px;
    }
    .user-3-roll{
        margin-top:25px;
    }
    .user-1-img img,.user-2-img img,.user-3-img img{
        height:50px;
        width:50px;
      }
      .user-1-name,.user-2-name,.user-3-name{
          margin-top:-65px;
          font-size:15px;
          margin-left:70px;
      }
      .user-1-work,.user-2-work,.user-3-work{
          margin-left:70px;
          font-size:15px;
      }
      .user-1-content,.user-2-content,.user-3-content{
          width:290px;
          font-size:17px;
          margin-top:30px;
          line-height:25px;
      }
      .user-1-roll,.user-2-roll,.user-3-roll{
          width:350px;
          height:230px;
      }
      body{
        padding-bottom:30px;
        background-size:600px;
      }
     .container{
        margin-top:630px;
        margin-left:-150px;
      }
}
/* Media Queries for Phones */
@media (max-width:420px) {
    .container{
        margin-top:700px;
      }
      body{
        background-size:450px;
      }
      h1{
        font-size:35px;
        width:260px;
        margin-left:-10px;
      }
      .logo-content{
        font-size:13px;
        width:300px;
      }
      .star-img img{
        height:12px;
      }
      .star-img{
        margin-left:60px;
      }
      .star-content-1,.star-content-2,.star-content-3{
        font-size:14px;
      }
      .star-content-1{
        margin-left:50px;
      }
      .star-content-3{
        margin-left:40px;
      }
    .star-roll-1,.star-roll-2,.star-roll-3{
        width:280px;
    }
    .user-1-img img,.user-2-img img,.user-3-img img{
        height:30px;
        width:30px;
      }
      .user-1-name,.user-2-name,.user-3-name{
          margin-top:-45px;
          font-size:13px;
          margin-left:50px;
      }
      .user-1-work,.user-2-work,.user-3-work{
          margin-left:50px;
          font-size:13px;
      }
      .user-1-content,.user-2-content,.user-3-content{
          width:230px;
          font-size:13px;
          margin-top:30px;
          line-height:25px;
      }
      .user-1-roll,.user-2-roll,.user-3-roll{
          width:280px;
          height:215px;
          margin-left:5px;
      }
}
@media (max-width:380px) {
    .container{
        margin-left:-170px;
    }
}
/* Media Queries for Small Phones */
@media (max-width:330px) {
    .logo-content{
        font-size:12px;
        margin-left:-30px;
    }
    .star-roll-1,.star-roll-2,.star-roll-3{
        margin-left:-50px;
    }
    .user-1-roll,.user-2-roll,.user-3-roll{
        margin-left:-5px;
    }
}
/* Css Code End */